<mangalib-sign-up></mangalib-sign-up>

<!-- <div class="container">
  <ngx-barcode-scanner
    (valueChange)="onScanSuccess($event)"
    codes="ean"
    [errorThreshold]="0.1"
  ></ngx-barcode-scanner>
</div>

{{ barcode }}
<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Series</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of data">
        <td>
          <img
            *ngIf="book.cover"
            [src]="book.cover"
            [alt]="book.title"
            height="100"
          />
        </td>

        <th scope="row">{{ book.title }}</th>
        <td>
          <div *ngIf="book.series">
            {{ book.series.title }} #{{ book.series.volume }}
          </div>
        </td>
        <td>
          <div *ngFor="let author of book.authors">{{ author }}</div>
        </td>
        <td>{{ book.publisher }}</td>
      </tr>
    </tbody>
  </table>
</div>
 -->
